@use "reset";
@use "global";
@import "responsive";

$primary-color: white;
$secondary-color: rgb(108, 56, 66);
$primary-font: "Bebas Neue", serif;

.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-image: url("https://img2.goodfon.com/wallpaper/nbig/4/d2/buzz-lightyear-toy-story-the.jpg");
}

main {
  place-self: center;
  text-align: center;
  max-width: 70vw;
  max-height: 90vh;

  h1 {
    font-size: 6rem;
    margin: 1rem;
    color: $primary-color;
    text-shadow: 0 0 10px $secondary-color;
  }
  .instructions {
    margin: 2rem;
    font-size: 1rem;
    color: $primary-color;
    text-shadow: 0 0 10px $secondary-color;

    @include desktop {
      margin: 1rem 1rem;
      font-size: 2rem;
    }
  }
  input {
    font-family: $primary-font;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 10px $secondary-color;
    font-size: 2rem;
    height: 4rem;
    width: 10rem;
    text-align: center;
    margin: 2rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $secondary-color;
  }
  input::placeholder {
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 10px $secondary-color;
  }
}

.--hidden {
  display: none;
}

.try-again {
  cursor: pointer;
  border-radius: 25px;
  color: white;
  text-shadow: 0 0 10px $secondary-color;
  background-color: rgba(0, 0, 0, 0.845);
  margin-bottom: 2rem;
}

.try-again:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
